Azure/LogicApp/detectText.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Append_to_array_variable": {
                "inputs": {
                    "name": "fileString",
                    "value": "http://samples.lap-it.com/vision/@{variables('filename')}.txt"
                },
                "runAfter": {
                    "Initialize_variable_3": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToArrayVariable"
            },
            "Create_blob": {
                "inputs": {
                    "body": "@variables('ImageTxt')",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/vision",
                        "name": "@{variables('filename')}.txt",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Append_to_string_variable": {
                        "inputs": {
                            "name": "ImageTxt",
                            "value": "@body('Optical_Character_Recognition_(OCR)_to_Text')?['text']"
                        },
                        "runAfter": {
                            "Optical_Character_Recognition_(OCR)_to_Text": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Optical_Character_Recognition_(OCR)_to_Text": {
                        "inputs": {
                            "body": "@base64ToBinary(items('For_each')?['body']?['$content'])",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['cognitiveservicescomputervision']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/vision/v2.0/ocrtext",
                            "queries": {
                                "detectOrientation": true,
                                "format": "Image Content",
                                "language": "unk"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@triggerBody()?['$multipart']",
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "filename",
                            "type": "string",
                            "value": "@{string(guid())}"
                        }
                    ]
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ImageTxt",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_3": {
                "inputs": {
                    "variables": [
                        {
                            "name": "fileString",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Create_blob": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": "@variables('fileString')",
                    "statusCode": 200
                },
                "runAfter": {
                    "Append_to_array_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "request": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "body": {
                                "properties": {
                                    "$content": {
                                        "type": "string"
                                    },
                                    "$content-type": {
                                        "type": "string"
                                    },
                                    "$multipart": {
                                        "items": {
                                            "properties": {
                                                "body": {
                                                    "properties": {
                                                        "$content": {
                                                            "type": "string"
                                                        },
                                                        "$content-type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "headers": {
                                                    "properties": {
                                                        "Content-Disposition": {
                                                            "type": "string"
                                                        },
                                                        "Content-Type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "headers",
                                                "body"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            },
                            "headers": {
                                "properties": {
                                    "Accept": {
                                        "type": "string"
                                    },
                                    "Accept-Encoding": {
                                        "type": "string"
                                    },
                                    "Accept-Language": {
                                        "type": "string"
                                    },
                                    "Connection": {
                                        "type": "string"
                                    },
                                    "Content-Length": {
                                        "type": "string"
                                    },
                                    "Content-Type": {
                                        "type": "string"
                                    },
                                    "Host": {
                                        "type": "string"
                                    },
                                    "Referer": {
                                        "type": "string"
                                    },
                                    "TE": {
                                        "type": "string"
                                    },
                                    "User-Agent": {
                                        "type": "string"
                                    },
                                    "origin": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/3f6d29b1-08f7-4d8b-a298-8ea97dd77eda/resourceGroups/samples/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/3f6d29b1-08f7-4d8b-a298-8ea97dd77eda/providers/Microsoft.Web/locations/ukwest/managedApis/azureblob"
                },
                "cognitiveservicescomputervision": {
                    "connectionId": "/subscriptions/3f6d29b1-08f7-4d8b-a298-8ea97dd77eda/resourceGroups/samples/providers/Microsoft.Web/connections/cognitiveservicescomputervision",
                    "connectionName": "cognitiveservicescomputervision",
                    "id": "/subscriptions/3f6d29b1-08f7-4d8b-a298-8ea97dd77eda/providers/Microsoft.Web/locations/ukwest/managedApis/cognitiveservicescomputervision"
                }
            }
        }
    }
}