Azure/LogicApp/suggestionBox.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Send_Email": {
                        "inputs": {
                            "body": {
                                "Body": "@{triggerBody()['message']}",
                                "From": "Lapayne@gmail.com",
                                "Subject": "Suggestion Box - This came from environments",
                                "To": "david.hurley@computershare.co.uk"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['smtp_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/SendEmailV2"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "else": {
                    "actions": {
                        "Send_Email_2": {
                            "inputs": {
                                "body": {
                                    "Body": "@triggerBody()['message']",
                                    "From": "Lapayne@gmail.com",
                                    "Subject": "Suggestion Box - This means it didn't come from Environments",
                                    "To": "lapayne@gmail.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['smtp_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/SendEmailV2"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()['subject']",
                                "Environments"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "body": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "subject": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "headers": {
                                "properties": {
                                    "Accept": {
                                        "type": "string"
                                    },
                                    "Accept-Encoding": {
                                        "type": "string"
                                    },
                                    "Accept-Language": {
                                        "type": "string"
                                    },
                                    "Connection": {
                                        "type": "string"
                                    },
                                    "Content-Length": {
                                        "type": "string"
                                    },
                                    "Content-Type": {
                                        "type": "string"
                                    },
                                    "Host": {
                                        "type": "string"
                                    },
                                    "Referer": {
                                        "type": "string"
                                    },
                                    "User-Agent": {
                                        "type": "string"
                                    },
                                    "origin": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "smtp_1": {
                    "connectionId": "/subscriptions/3f6d29b1-08f7-4d8b-a298-8ea97dd77eda/resourceGroups/chatbot-rg/providers/Microsoft.Web/connections/smtp-1",
                    "connectionName": "smtp-1",
                    "id": "/subscriptions/3f6d29b1-08f7-4d8b-a298-8ea97dd77eda/providers/Microsoft.Web/locations/uksouth/managedApis/smtp"
                }
            }
        }
    }
}