Azure/suggestionbox/arm-template
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_smtp_name": {
            "defaultValue": "smtp",
            "type": "String"
        },
        "connections_sendgrid_name": {
            "defaultValue": "sendgrid",
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "connections_servicebus_name": {
            "defaultValue": "servicebus",
            "type": "String"
        },
        "workflows_suggestionboxmail_name": {
            "defaultValue": "suggestionboxmail",
            "type": "String"
        },
        "namespaces_suggestionbox_name": {
            "defaultValue": "suggestionbox",
            "type": "String"
        },
        "storageAccounts_suggestionbox_name": {
            "defaultValue": "suggestionbox",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.ServiceBus/namespaces",
            "apiVersion": "2018-01-01-preview",
            "name": "[parameters('namespaces_suggestionbox_name')]",
            "location": "UK West",
            "sku": {
                "name": "Basic",
                "tier": "Basic"
            },
            "properties": {
                "zoneRedundant": false
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-06-01",
            "name": "[parameters('storageAccounts_suggestionbox_name')]",
            "location": "ukwest",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "azureFilesIdentityBasedAuthentication": {
                    "directoryServiceOptions": "None"
                },
                "largeFileSharesState": "Disabled",
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": false,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_name')]",
            "location": "uksouth",
            "properties": {
                "displayName": "suggestionbox-blob",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/71f6c2fe-70ec-47eb-9800-5539a99c0e41/providers/Microsoft.Web/locations/uksouth/managedApis/', parameters('connections_azureblob_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_sendgrid_name')]",
            "location": "uksouth",
            "properties": {
                "displayName": "[concat(parameters('connections_sendgrid_name'), '-suggestionbox')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/71f6c2fe-70ec-47eb-9800-5539a99c0e41/providers/Microsoft.Web/locations/uksouth/managedApis/', parameters('connections_sendgrid_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_servicebus_name')]",
            "location": "uksouth",
            "properties": {
                "displayName": "suggestionbox-add-message",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/71f6c2fe-70ec-47eb-9800-5539a99c0e41/providers/Microsoft.Web/locations/uksouth/managedApis/', parameters('connections_servicebus_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_smtp_name')]",
            "location": "uksouth",
            "properties": {
                "displayName": "gmail",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/71f6c2fe-70ec-47eb-9800-5539a99c0e41/providers/Microsoft.Web/locations/uksouth/managedApis/', parameters('connections_smtp_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_suggestionboxmail_name')]",
            "location": "uksouth",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_smtp_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "team": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Accept": {
                                                    "type": "string"
                                                },
                                                "Accept-Encoding": {
                                                    "type": "string"
                                                },
                                                "Accept-Language": {
                                                    "type": "string"
                                                },
                                                "Cache-Control": {
                                                    "type": "string"
                                                },
                                                "Connection": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Host": {
                                                    "type": "string"
                                                },
                                                "Referer": {
                                                    "type": "string"
                                                },
                                                "User-Agent": {
                                                    "type": "string"
                                                },
                                                "dnt": {
                                                    "type": "string"
                                                },
                                                "origin": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Switch": {
                            "runAfter": {},
                            "cases": {
                                "Case": {
                                    "case": "WEB",
                                    "actions": {
                                        "Send_Email": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "@triggerBody()['message']",
                                                    "From": "lapayne@gmail.com",
                                                    "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                                    "To": "lee.payne@computershare.co.uk; david.hurley@computershare.co.uk"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['smtp']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/SendEmailV2"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "DBA",
                                    "actions": {
                                        "Send_Email_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "@triggerBody()['message']",
                                                    "From": "lapayne@gmail.com",
                                                    "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                                    "To": "Nicholas.Wiaczek@computershare.co.uk; david.hurley@computershare.co.uk"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['smtp']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/SendEmailV2"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "JADE",
                                    "actions": {
                                        "Send_Email_3": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "@triggerBody()['message']",
                                                    "From": "lapayne@gmail.com",
                                                    "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                                    "To": "david.hurley@computershare.co.uk; Lauren.Griffiths@computershare.co.uk"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['smtp']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/SendEmailV2"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {
                                    "Send_Email_4": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Body": "@triggerBody()['message']",
                                                "From": "lapayne@gmail.com",
                                                "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                                "To": "david.hurley@computershare.co.uk;Lauren.Griffiths@computershare.co.uk;Nicholas.Wiaczek@computershare.co.uk; lee.payne@computershare.co.uk"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['smtp']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/SendEmailV2"
                                        }
                                    }
                                }
                            },
                            "expression": "@triggerBody()['team']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "smtp": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_smtp_name'))]",
                                "connectionName": "smtp",
                                "id": "/subscriptions/71f6c2fe-70ec-47eb-9800-5539a99c0e41/providers/Microsoft.Web/locations/uksouth/managedApis/smtp"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/AuthorizationRules",
            "apiVersion": "2017-04-01",
            "name": "[concat(parameters('namespaces_suggestionbox_name'), '/RootManageSharedAccessKey')]",
            "location": "UK West",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_suggestionbox_name'))]"
            ],
            "properties": {
                "rights": [
                    "Listen",
                    "Manage",
                    "Send"
                ]
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/networkRuleSets",
            "apiVersion": "2018-01-01-preview",
            "name": "[concat(parameters('namespaces_suggestionbox_name'), '/default')]",
            "location": "UK West",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_suggestionbox_name'))]"
            ],
            "properties": {
                "defaultAction": "Deny",
                "virtualNetworkRules": [],
                "ipRules": []
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/queues",
            "apiVersion": "2017-04-01",
            "name": "[concat(parameters('namespaces_suggestionbox_name'), '/emails')]",
            "location": "UK West",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_suggestionbox_name'))]"
            ],
            "properties": {
                "lockDuration": "PT30S",
                "maxSizeInMegabytes": 1024,
                "requiresDuplicateDetection": false,
                "requiresSession": false,
                "defaultMessageTimeToLive": "P1D",
                "deadLetteringOnMessageExpiration": false,
                "enableBatchedOperations": true,
                "duplicateDetectionHistoryTimeWindow": "PT10M",
                "maxDeliveryCount": 10,
                "status": "Active",
                "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
                "enablePartitioning": false,
                "enableExpress": false
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_suggestionbox_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_suggestionbox_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_suggestionbox_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_suggestionbox_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_suggestionbox_name'), '/default/$web')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_suggestionbox_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_suggestionbox_name'))]"
            ],
            "properties": {
                "publicAccess": "None"
            }
        }
    ]
}