Azure/suggestionbox/suggestionbox-email-logicapp
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Switch": {
                "cases": {
                    "Case": {
                        "actions": {
                            "Send_Email": {
                                "inputs": {
                                    "body": {
                                        "Body": "@triggerBody()['message']",
                                        "From": "lapayne@gmail.com",
                                        "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                        "To": "lee.payne@computershare.co.uk; david.hurley@computershare.co.uk"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['smtp']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/SendEmailV2"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "case": "WEB"
                    },
                    "Case_2": {
                        "actions": {
                            "Send_Email_2": {
                                "inputs": {
                                    "body": {
                                        "Body": "@triggerBody()['message']",
                                        "From": "lapayne@gmail.com",
                                        "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                        "To": "Nicholas.Wiaczek@computershare.co.uk; david.hurley@computershare.co.uk"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['smtp']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/SendEmailV2"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "case": "DBA"
                    },
                    "Case_3": {
                        "actions": {
                            "Send_Email_3": {
                                "inputs": {
                                    "body": {
                                        "Body": "@triggerBody()['message']",
                                        "From": "lapayne@gmail.com",
                                        "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                        "To": "david.hurley@computershare.co.uk; Lauren.Griffiths@computershare.co.uk"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['smtp']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/SendEmailV2"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "case": "JADE"
                    }
                },
                "default": {
                    "actions": {
                        "Send_Email_4": {
                            "inputs": {
                                "body": {
                                    "Body": "@triggerBody()['message']",
                                    "From": "lapayne@gmail.com",
                                    "Subject": "SuggestionBox - @{triggerBody()['team']}",
                                    "To": "david.hurley@computershare.co.uk;Lauren.Griffiths@computershare.co.uk;Nicholas.Wiaczek@computershare.co.uk; lee.payne@computershare.co.uk"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['smtp']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/SendEmailV2"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    }
                },
                "expression": "@triggerBody()['team']",
                "runAfter": {},
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "body": {
                                "properties": {
                                    "message": {
                                        "type": "string"
                                    },
                                    "team": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "headers": {
                                "properties": {
                                    "Accept": {
                                        "type": "string"
                                    },
                                    "Accept-Encoding": {
                                        "type": "string"
                                    },
                                    "Accept-Language": {
                                        "type": "string"
                                    },
                                    "Cache-Control": {
                                        "type": "string"
                                    },
                                    "Connection": {
                                        "type": "string"
                                    },
                                    "Content-Length": {
                                        "type": "string"
                                    },
                                    "Content-Type": {
                                        "type": "string"
                                    },
                                    "Host": {
                                        "type": "string"
                                    },
                                    "Referer": {
                                        "type": "string"
                                    },
                                    "User-Agent": {
                                        "type": "string"
                                    },
                                    "dnt": {
                                        "type": "string"
                                    },
                                    "origin": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "smtp": {
                    "connectionId": "/subscriptions/71f6c2fe-70ec-47eb-9800-5539a99c0e41/resourceGroups/suggestionbox/providers/Microsoft.Web/connections/smtp",
                    "connectionName": "smtp",
                    "id": "/subscriptions/71f6c2fe-70ec-47eb-9800-5539a99c0e41/providers/Microsoft.Web/locations/uksouth/managedApis/smtp"
                }
            }
        }
    }
}